.original-post {
    position: fixed;
}
.comment {
    display: flex;
    margin: 10px;
}



h1 {
    font-size: large;
    color: black;
}
h2 {
    font-size: 30px;
    color: black;
}
.comment-avatar {
    margin-right: 10px;
}

.comment-avatar img {
    width: 7px;
    height: 7px; 
    border-radius: 50%; 
}
.card {
    width: 100%;
    border-top: 2px solid gray; 
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}