#clickMe {
    background-color: white;
    color: rgb(255, 255, 255);
    padding:10px;
    font-family: Helvetica;

    margin: 10px;
    float: left;
    width: 130px;
   border: none; 
    border-top: 2px solid gray; 
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    background: none;
    transition: background-color 350s;
  }
  #clickMe:active {
    color: white; 
  }
  #clickMe:hover {
    cursor: pointer;
  }

  .inStock, .notInStock {
    display: inline-block;
padding: 3px;
    font-family: Helvetica;
    border-radius: 3px;
    background-color: white;
    align-content: space-between;
    width: 100%; 
    border-top: 2px solid gray; 
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    margin: 10px 0;
  }
  h1 {
    font-size: 50px;
    position: left;

  }
  .darkMode {
    background-color: rgb(36, 36, 36);
    color: white;


  }
body {
    background-color: rgb(223, 223, 223);
    justify-content: space-between;
    padding: 5%;
}
#contentContainer {
    display: flex; 
   
    justify-content: space-between; 
    flex-direction: column;

  }
  .darkMode .inStock,
.darkMode .notInStock {
  background-color: rgb(94, 83, 83);
  color: white; 
  border-top: 2px solid gray; 
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
hr {
    width: 10%;
    height: 2px;
float: left;
}