#clickMe {
    background-color: white;
    color: black;
    padding:10px;
    font-family: Helvetica;
    border-radius: 3px;
    margin: 10px;
    float: left;
    width: 130px;
  }
  
  #clickMe:hover {
    cursor: pointer;
  }
  .appendToMe {
    display: flex;
    align-content: space-between;
    border: 1px;
  }
  .inStock, .notInStock {
    display: inline-block;

    font-family: Helvetica;
    border-radius: 3px;
    background-color: white;
    align-content: space-between;
    width: 100%; 
    border: 1px;
    margin: 10px 0;
  }
  h1 {
    font-size: 50px;
    position: left;

  }
  .darkMode {
    background-color: #034;
    color: white;
    border: 1px;

  }
body {
    background-color: rgb(223, 223, 223);
    justify-content: space-between;
    padding: 5%;
}
#contentContainer {
    display: flex; 
   
    justify-content: space-between; 
    flex-direction: column;
    border: 1px;
    border-color: rgb(2, 46, 61);
  }
  .darkMode .inStock,
.darkMode .notInStock {
  background-color: gray;
  color: white; 
}
hr {
    width: 10%;
    height: 2px;
float: left; 
}